# Bot
BOT_TOKEN=YourBotToken
GUILD_ID=YourGuildId

# Database
DATABASE_URL="postgresql://janedoe:mypassword@localhost:5432/mydb?schema=public"

# API
API_URL=YourApiUrl
API_PORT=YourApiPort

# WakaTime
CLIENT_ID=YourWakaTimeClientId
CLIENT_SECRET=YourWakaTimeClientSecret
WAKATIME_BASE_URL=https://wakatime.com

# Crypto
CRYPTO_PASSWORD=YourSecurePassword